// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
@import './bg.css'
// Check out "bower_components/prism/themes/" for available themes

// BASIC COLORS
$black= #333
$white= rgba(255,255,255,0.75);
$grey= #616a73
$subtitle= #79838e
$light-grey= #777
$blue= #2aaae1
$error= #ed5937

body {
  font-size: 22px
//  background-color: rgba(30,30,30,0.50);
}

h1 {
  font-size: 50px;
  line-height: 60px;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: $black;
}

h3 {
  color: $light-grey
}

.bespoke-parent {
  background: rgba(97, 106, 115, 0.8);
}

.bespoke-slide {
  background: $white;

  img {
    position:relative;
    width: 100%;
  }
}

.css-fuckup {
  .css-include {
    width 335px
    height 84px
  }
  .css-overwrite {
    width 432px
    height auto
  }
}

code {
  font-size 16px
}

code[class*="language-"], pre[class*="language-"] {
  line-height 26px
}

.italic{
  font-style: italic;
}

.big{
  font-size: 100px;
  color: #000;
}
